---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="关于">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">关于我</h2>
        <div class="tag-post-list">
          <ul>
            <li>一个学生</li>
            <li>爱折腾</li>
            <li>爱音乐</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">联系我</h2>
        <div class="tag-post-list">
          <ul>
           <li>
              <a href="https://twitter.com/JRFank8888" target="_blank">
                <i class="fab fa-twitter"></i> Twitter
              </a>
            </li>
            <li>
              <a href="https://t.me/jrfank_bot" target="_blank">
                <i class="fab fa-telegram"></i> Telegram
              </a>
            </li>
            <li>
              <a href="https://youtube.com/@jr-fank1119?si=TrE6X2hg-CqeLBzz" target="_blank">YouTube</a>
            </li>
            <li>
              <a href="https://b23.tv/VFTxSD3" target="_blank">Bilibili</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>
</BaseLayout>
